.nav {
  background-color: #f9f9fa;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #2e363e;
}

.nav__notif-num {
  position: absolute;
  transform: translate(20px, -10px);
}

.nav__notif-dot {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  position: absolute;
  transform: translate(25px, -6px);
}

.nav__notif-num--sm {
  justify-content: flex-end;
}

.nav__notif-dot--cog {
  transform: translate(70px, -25px);
}
