.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__pic {
  height: 70px;
  width: 70px;
  border-radius: 30px;
  margin-right: 10px;
}

.user-component__name {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 3px;
}

.user-component__msg {
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.user-component__pic--xl {
  height: 80px;
  width: 80px;
}

.user-component__pic--sm {
  height: 60px;
  width: 60px;
  border-radius: 25px;
}

.user-component__column:nth-child() span {
  justify-content: flex-end;
}
